/**** Detail *****/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    }



/********************************************
                  DETAIL 
********************************************/

main{
    background-color: #c0c0c0;
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container-products-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 85%;
    align-items: normal;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
}

.box-izquierda{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 400px;
    width: 48%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 15px;
}

.product-title{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #00467f;
}

.product-detail{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.product-detail-img{
    border-radius: 3px;
    margin: 15px;
}


.box-derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 400px;
    width: 48%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 15px;
}

.product-detail-info{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-title{
    padding-bottom: 20px;
}

button, input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.botones-eliminar-editar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div .campo{
    width: 50%;
    padding: 40px;
}

.campo-boton-eliminar button {
    width: 260px;
    padding: 0.75rem;
    background-color: #03264C;
    border-radius: 4px;
    color: #ffffff;
}



.campo-boton-editar {
    width: 260px;
    padding: 0.75rem;
    background-color: #03264C;
    border-radius: 4px;
    color: #ffffff;
}

.action-button-edit{
    
    background-color: #03264C;
    color: #ffffff;
}

.campo-boton-comprar button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px;
}
