
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    }

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

/*////////////////////////////////////////////////////////////*/
/*/////////////////// HEADER /////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

header{
    background-color: #011627;
}

.header-global {
    background-color: #FFFFFF;
    /*
    border-style: solid;
    border-color: blue;*/

}


/*////////////////////////////////////////////////////////////*/
/*/////////////////// TOP NAV ////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.top-nav {
    
    height: 80px;
    background-color: #011627;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    
}

.menu-store {
    display: none;
}

.menu-user {
    display: none;
}

.burger-menu{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 15px;
}

.cart{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 15px;
}

/*
.egamers-logo{
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    font-size: 15px;
    padding: 15px;
} 
*/

#logo{
    width: 90%;
    text-align: center;
}

/*////////////////////////////////////////////////////////////*/
/*/////////////////// SEARCH /////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.search-container {
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: lightgray;
}

.search-form {
    height: 40px;
    min-width: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    border-style: hidden;
    background-color: #FFFFFF;
}

.search-input {
    height: 35px;
    width: 80%;
    border-style: hidden;
    background-color: #FFFFFF;
    padding: 10px;
}

.search-button {
    height: 35px;
    border-style: hidden;
    font-size: 30px;
    background-color: #FFFFFF;
    padding-right: 10px;
}


/*////////////////////////////////////////////////////////////*/
/*/////////////////// MEDIA QUERIES //////////////////////////*/
/*////////////////////////////////////////////////////////////*/


@media (min-width: 900px) {

   .burger-menu{
        display: none;
    }

    .cart{
        display: none;
    }

    .top-nav {
        justify-content: space-around;
    }

    .menu-store {
        display: flex;
        align-items: center;
        padding: 15px;
    }
    
    .menu-user {
        display: flex;
        align-items: center;
        padding: 15px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .item-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .item-menu a {
        text-decoration: none;
        color: #FFFFFF;
    }
}
