/**** Home *****/





/********************************************
                  INDEX 
********************************************/

#banner-img {
    width: 100%;
  }



/********************************************
                  Tablet 
********************************************/

/*

@media (min-width: 361px){

    .categorias{
        justify-content: space-between;
    }

    .producto{
        width: 45%; 
    }

}*/
/********************************************
                  Desktop 
********************************************/

/*@media (min-width: 769px){
    .producto{
        width: 23%;
    }
}

*/