.product-cart{
    display: flex;
    width: 100%;
}
.articulos-seleccionados{
    margin: 20px;
    margin-left: 10px;
    width: 100%;
    
}
.items{
    display: flex;
    flex-direction: row;
    
    padding-bottom: 15px;
    
    justify-content: left
}
.nombre-juego{
    width: auto;
}

.carro{
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 16, 80);
    width:65%;
    height: auto;
    border-radius: 10px;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    align-items: flex-start;
    padding: 10px; 
}
.tus-compras{
    
}
.derecha{
    display: flex;
    flex-direction: column;
    width: 40%
}
.total{
    background-color: blue;
    height: 200px;
    width: 90%;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
}
.seguir-comprando{
    background-color: rgb(232, 135, 16);
    height: auto;
    width: 90%;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
}



