img {
    margin-left: 15px;
    margin-top: 15px;
}
figcaption {
    margin-left: 15px;
}
p {
    margin-left: 15px;
}
span{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: lightgray;
}