* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .products-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .button-send[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .button-send[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .error {
    color: red;
  }
  