*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}

/*////////////////////////////////////////////////////////////*/
/*///////////////////  Register //////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

main {
    /*
    border-style: solid;
    border-color: blue;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center
}

.register-widget {
    width: 80%;
    height: 80%;
    background-color: lightgray;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.formulario-register {
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 1rem 0;
}

.campo {
    display: block;
    margin-bottom: 2rem;
    padding-left: 0.75rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

.campo input {
    /* width: 100%; */
    /* height: 100%; */
    padding: 0.75rem 0;
}

input {
    display: block;
}
button, input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.boton-crear button {
    width: 100%;
    padding: 0.75rem;
    background-color: #03264C;
    border-radius: 4px;
    color: #ffffff;
}
