<head>
  <link rel="stylesheet" href="/css/footer.css">
</head>

<footer>

  <div class="main-footer">

      <section class="about-us">
          <h3 class="logo-mini">
              eGamers
          </h3>
          <p class="wording">
              Lorem ipsum dolor sit amet 
          </p>
      </section>

      <section class="contact">
          <h3>
              Contacto
          </h3>

          <p class="wording">
              Envíanos tu consulta: 
          </p>

          <ul>
              <li><i class="fa-brands fa-whatsapp"></i> +54 9 11 1111 1111</li>
              <li><i class="fa-solid fa-envelope"></i> hola@egamers.com</li>
          </ul>

      </section>

      <section class="payment-options">
          <h3>
              Opciones de Pago
          </h3>

          <ul>
              <li><i class="fa-regular fa-credit-card"></i> Tarjeta de crédito y débito</li>
              <li><i class="fa-solid fa-building-columns"></i> Transferencia</li>
              <li><i class="fa-brands fa-bitcoin"></i> Criptomonedas</li>
          </ul>

      </section>

      <section class="social-media">
          <h3>
              Redes Sociales
          </h3>

          <ul>
              <li><i class="fa-brands fa-instagram"></i> Instagram</li>
              <li><i class="fa-brands fa-facebook"></i> Facebook</li>
              <li><i class="fa-brands fa-tiktok"></i> TikTok</li>
              <li><i class="fa-brands fa-twitter"></i> Twitter</li>
              <li><i class="fa-brands fa-youtube"></i> YouTube</li>
          </ul>

      </section>

  </div>

      <section>
          <h3 class="copyright">Copyright © 2022 eGamers S.R.L.</h3>
      </section>


</footer>