
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Opciones de pago</h2>
          <li>
            <i class="fa-regular fa-credit-card"></i> Tarjeta de crédito y
            débito
          </li>
          <li><i class="fa-solid fa-building-columns"></i> Transferencia</li>
          <li><i class="fa-brands fa-bitcoin"></i> Criptomonedas</li>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Redes Sociales</h2>
          <li><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li><i class="fa-brands fa-tiktok"></i> TikTok</li>
          <li><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li><i class="fa-brands fa-youtube"></i> YouTube</li>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Envianos tu consulta</h2>
          <li><i class="fa-brands fa-whatsapp"></i> +54 9 11 1111 1111</li>
          <li><i class="fa-solid fa-envelope"></i> hola@egamers.com</li>
        </article>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <p class="copyright">Copyright © 2022 eGamers S.R.L.</p>
  </div>
</div>
