<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<%- include('../partials/head', {title: 'Login'}) %>

<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

<%- include('../partials/header', {title: 'Login'}) %>    

<!--***********************************************************************
                        Login Page 
************************************************************************-->

    <main class="main-login-section">

        <div class="login-widget">

                <form method="post" action="/users/login" class="formulario-login" >
                        <div class="campo">
                            <input type="text" name="usuario" placeholder="Nombre de usuario" required="">
                            <% if(locals.errors && errors.email) {%> 
                                <div class ="text-danger">
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %> 
                        
                        </div>
                        <div class="campo">
                            <input type="password" name="password" placeholder="Contraseña" required="">
                        </div>
                        <div class="campo, boton-entrar">
                            <button type="submit">Entrar</button>
                        </div>
                </form>

        </div>
    </main> 

<!--***********************************************************************
                        Footer 
************************************************************************-->

    
        
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->

</body>
</html>