<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<%- include('../partials/head', {title: 'Login'}) %>

<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

<%- include('../partials/header', {title: 'Login'}) %>    

<!--***********************************************************************
                        Login Page 
************************************************************************-->

    <main class="main-login-section">

        <div class="login-widget">

                <form method="post" action="/users/login" class="formulario-login" >

                        <label><b>Email</b></label>
                        <div class="campo">
                            <input 
                                id="email"
                                type="email"  
                                name="email" 
                                class="formulario-login" 
                                placeholder="Email" >
                                <% if(locals.errors && errors.email) {%> 
                                    <div class ="text-danger">
                                        <%= errors.email.msg %> 
                                    </div>
                                <% } %> 
                        
                        </div>

                        <label><b>Contraseña</b></label>
                        <div class="campo">
                            <input 
                            id="password"
                            type="password" 
                            name="password" 
                            class="formulario-login" 
                            placeholder="Contraseña">
                        </div>
                        <div class="campo, boton-entrar">
                            <button type="submit">Entrar</button>
                        </div>
                </form>

        </div>
    </main> 

<!--***********************************************************************
                        Footer 
************************************************************************-->

    
        
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->

    <script src="/js/login.js"></script> 

</body>
</html>