<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Login'}) %>

<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

    <header class="header-global">
        
        <div class="top-nav">

            <div class="burger-menu"><a href="menu">
                
                <i class="fa-sharp fa-solid fa-bars"></i> 
            </a> 
            </div>

            <div class="menu-store">
                        <p class="item-menu"><a href="/">Home</a></p>
                        <p class="item-menu"><a href="store">Catálogo</a></p>
                        <p class="item-menu"><a href="productCart">Mis Compras</a></p>
            </div>

            <div class="egamers-logo">
                <a href="/">
                    <img id="logo" src="img/logo-test.jpg" alt= "Logo eGamers">
            </a>
            </div>


            <div class="menu-user">
                <p class="item-menu"><a href="login">Ingresar</a></p>
                <p class="item-menu"><a href="register">Registro</a></p>
            </div>
    

            <div class="cart">

                <i class="fa-sharp fa-solid fa-cart-shopping"></i>

            </div>

        </div>


        <div class="search-container">

            <form action="/action_page.php" class="search-form">
              <input class="search-input" type="text" placeholder="Buscar juego, categoría, etc." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
        

        
    </header>

<!--***********************************************************************
                        Login Page
************************************************************************-->

    <main class="main-login-section">

        <div class="login-widget">

                <form action="/" method="post" class="formulario-login">
                        <div class="campo">
                            <input type="text" name="usuario" placeholder="Nombre de usuario" required="">
                        </div>
                        <div class="campo">
                            <input type="password" name="contraseña" placeholder="Contraseña" required="">
                        </div>
                        <div class="campo, boton-entrar">
                            <button type="submit">Entrar</button>
                        </div>
                </form>

        </div>
    </main> 

<!--***********************************************************************
                        Footer 
************************************************************************-->

    <footer>

        <div class="footer-global">

            <section class="about-us">
                <h3 class="logo-mini">
                    eGamers
                </h3>
                <p class="wording">
                    Lorem ipsum dolor sit amet 
                </p>
            </section>

            <section class="contact">
                <h3>
                    Contacto
                </h3>

                <p class="wording">
                    Envíanos tu consulta: 
                </p>

                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i> +54 9 11 1111 1111</li>
                    <li><i class="fa-solid fa-envelope"></i> hola@egamers.com</li>
                </ul>

            </section>

            <section class="payment-options">
                <h3>
                    Opciones de Pago
                </h3>

                <ul>
                    <li><i class="fa-regular fa-credit-card"></i> Tarjeta de crédito y débito</li>
                    <li><i class="fa-solid fa-building-columns"></i> Transferencia</li>
                    <li><i class="fa-brands fa-bitcoin"></i> Criptomonedas</li>
                </ul>

            </section>

            <section class="social-media">
                <h3>
                    Redes Sociales
                </h3>

                <ul>
                    <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                    <li><i class="fa-brands fa-facebook"></i> Facebook</li>
                    <li><i class="fa-brands fa-tiktok"></i> TikTok</li>
                    <li><i class="fa-brands fa-twitter"></i> Twitter</li>
                    <li><i class="fa-brands fa-youtube"></i> YouTube</li>
                </ul>

            </section>

        </div>

            <section>
                <h3 class="copyright">Copyright © 2022 eGamers S.R.L.</h3>
            </section>
    
       

    </footer>
        
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->

</body>
</html>